body {
    height: 100vh;
}

.header {
    text-align: center;
    max-height: 15%;
}

.top-container {
    display: flex;
    justify-content: center;
    max-height: 60%;
}

.player {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.computer {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    max-height: 25%;
}

.score-header {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.player-score,
.computer-score,
.tied-score {
    max-width: 33%;
    text-align: center;
    margin: auto;
}
